.venv
Output_Docs/*
!Output_Docs/1. 授权专利-发明专利1-基于核电厂真实工况与仿真系统的故障诊断方法及系统-ZL201310699915.1.docx
Output_Sc
!Output_Sc/Output_Sc/附件 6000系列核级变送器高静压自动试验装置软件[简称：高静压自动试验装置软件]V1.0-2021SR1794016+无线信号采集与趋势跟踪平台（移动端 ）-2022R11S1584325.docx
PDF_Source
!PDF_Source/授权专利-发明专利1-基于核电厂真实工况与仿真系统的故障诊断方法及系统-ZL201310699915.1.pdf
SC_Source
!SC_Source/授权专利-计算机软件著作权1-一种视觉间隙测量软件V1.0-2021SR0433578.pdf
专利处理

